
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Контакты</title>
  <link rel="stylesheet" href="{{url_for('static', filename="style.css")}}">
  <article class="article article_bluebg article_second">
    <h2 class="white">Свяжись со мной!</h2>
    <p class="white">Ты по-любому захочешь, чтобы я сделал такую же красоту и тебе. Поэтому я создал форму обратной связи! Пиши, не стесняйся :)</p>
    <form class="form">
      <input type="email" class="form_input"  class="email" placeholder="E-mail">
      <input type="text" class="form_input" placeholder="Имя">
      <textarea class="form_textarea" placeholder="Ваше сообщение"></textarea>
	<a class="form_button" href="{{url_for('index')}}" type="button">Отправить</a>
	<a class="form_button" href="{{url_for('index')}}" type="button">На главную</a>
    </form>
  </article>
</body>
</html>